table{
    border: 1px solid;
    border-collapse: collapse;
}
td{
    height: 100px;
    width: 100px;
    text-align: center;
    /* border-left: 1px solid; */
}


.dum{
    border: 1px solid;
}

#center,center2{
    background-color: orange;
    border-radius: 100%;

}
